mixin articles(articleobject)
  div.a-row.article-index
    each article in articleobject
      div.a-column.width-1-of-12.article-preview
        div.postinfo
          span Issue ##{article.issue}
          span.middot &middot;
          span(ng-bind="#{article.date} | date:'LLLL dd, yyyy'")
        a(href="#{article.link}")
          h2 #{article.title}
          p #{article.intro}
          span.ghost-button.read-article.inline-block(href="#{article.link}") Read article
