extends assets/jade/html.jade

block variables
  - var pagetitle = 'Contact';
  - var metaData = { contenttitle: pagetitle, url: site.baseurl + '/contact.html', image: site.baseurl + '/assets/img/dunamaise-mobile.JPG', author: site.authors.harry, description: 'Contact me.'};

block content
  h1 #{pagetitle}


  form(name="contact" contact-form novalidate)
    fieldset(ng-if="!showSuccess")
      p If you want to get in touch, you can.

      div.a-row.margin-bottom-10px
        div.a-column.width-1-of-12
          label(for="name") Name
          input(
            ng-class="{'valid-field':contact.name.$valid && contact.name.$dirty, 'invalid-field': (contact.name.$invalid && contact.name.$dirty) || showError.name }"
            name="name"
            id="name"
            ng-keyup="checkValidity('name', contact.name.$valid)"
            ng-pattern="/^[a-zA-Z\\s]*$/"
            ng-model="name"
            ng-required="true"
            type="text"
            placeholder="Joe Soap"
          )

          div.error-message(ng-if="(contact.name.$error.required && contact.name.$dirty && contact.name.$invalid) || showError.name") {{ errorMessages.requiredField }}
          div.error-message(ng-if="contact.name.$error.pattern && contact.name.$dirty && contact.name.$invalid") {{ errorMessages.alphaOnly }}

      div.a-row.margin-bottom-10px.real-important-field
        div.a-column.width-1-of-12
          label(for="lastname") Last Name
          input(
            name="lastname"
            id="lastname"
            ng-model="lastname"
            type="text"
            placeholder="Just the Soap"
          )

      div.a-row.margin-bottom-10px
        div.a-column.width-1-of-12
          label(for="email") E-mail
          input(
            ng-class="{'valid-field':contact.email.$valid && contact.email.$dirty, 'invalid-field': (contact.email.$invalid && contact.email.$dirty) || showError.email}"
            name="email"
            id="email"
            ng-keyup="checkValidity('email', contact.email.$error.required)"
            ng-model="email"
            ng-required="true"
            type="email"
            placeholder="Joe.Soap@domain.com"
          )

          div.error-message(ng-if="(contact.email.$error.required && contact.email.$dirty && contact.email.$invalid) || showError.email") {{ errorMessages.requiredField }}
          div.error-message(ng-if="contact.email.$error.email && contact.email.$dirty && contact.email.$invalid") {{ errorMessages.validEmail}}

      div.a-row.margin-bottom-10px
        div.a-column.width-1-of-12
          label(for="query") What's your query about?
          select(
            ng-class="{'valid-field':contact.query.$valid && contact.query.$dirty, 'invalid-field': (contact.query.$invalid && contact.query.$dirty) || showError.query }"
            name="query"
            ng-keyup="checkValidity('query', contact.query.$valid)"
            ng-model="query"
            ng-required="true"
            id="query"
          )
            option(value="" selected disabled hidden) Please choose a subject
            option(ng-repeat="option in queryOptions") {{option}}

          div.error-message(ng-if="(contact.query.$invalid && contact.query.$dirty) || showError.query") {{ errorMessages.requiredField }}

      div.a-row.margin-bottom-10px
        div.a-column.width-1-of-12
          label(for="message") Description
          textarea(
            ng-class="{'valid-field':contact.message.$valid && contact.message.$dirty, 'invalid-field': (contact.message.$invalid && contact.message.$dirty) || showError.message }"
            name="message"
            id="message"
            ng-keyup="checkValidity('message', contact.message.$valid)"
            ng-model="message"
            ng-required="true"
            placeholder="Leave me a message describing what you're looking for"
          )
          div.error-message(ng-if="(contact.message.$invalid && contact.message.$dirty) || showError.message") {{ errorMessages.requiredField }}

      div.a-row
        div.a-column.width-1-of-12
          button.ghost-button(ng-class="{'valid':contact.$valid}" ng-click="submitForm(contact)") Send

    div(ng-if="showSuccess")

      h2 Your message was successfully sent!

      p Thanks a million for taking the time to get in touch. I will try to respond to your query in a timely fashion.

      p In the meantime, feel free to peruse the rest of the website. Have you checked out the following as they might be of some interest;

      ul
        li
          a(href="work.html") My Work
        //- li
        //-   a(href="articles/") Some articles I have posted
